@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* 
.banner{
  background-image: url("../utilis/images/banner-Img.png");
} */




.choose-us{
  background-image: url("../app/utilis/images/black-background.jpg");
} 

/* Custom styles for specific elements not covered by Tailwind */
.contact-one_curve {
  /* Custom styling for the curved overlay */
}

.contact-one_image img {
  /* Specific styles for the image, if necessary */
}

.contact-one_ball {
  /* Custom styling for the ball element */
  background-size: cover;
}

.fllopi-title {
  /* Additional styles for the title, if necessary */
}

.fllopi-email-title {
  /* Styles for the email title */
}

.fllopi-email-address {
  /* Styles for the email address */
}

.theme-btn.submit-btn {
  /* Custom styles for the submit button */
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

