@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* 
.banner{
  background-image: url("../utilis/images/banner-Img.png");
} */




.choose-us{
  /* background-image: url("../app/utilis/images/black-background.jpg"); */
} 



@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

